<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.spring2.repository.PostRepository">
<!-- namespace의 값은 PostRepository 인터페이스가 있는 패키지 이름과 인터페이스 이름. -->
    <insert id="insert" >
        insert into Post (TITLE, CONTENT, AUTHOR, CREATED_TIME, MODIFIED_TIME)
        values (#{title}, #{content} , #{author}, systimestamp, systimestamp)
    </insert>
    <!-- id의 값은 PostRepository 인터페이스에서 선언하는 메서드 이름 -->
    <select id="selectOrderByIdDesc" resultType="com.itwill.spring2.domain.Post">
        SELECT * FROM post ORDER BY id DESC
    </select>
    
    <select id="selectById" resultType="com.itwill.spring2.domain.Post">
        SELECT * FROM post WHERE id = #{id}    
    </select>
    
    <update id="updateTitleAndContent">
        UPDATE post SET title = #{title}, content = #{content}, modified_time = systimestamp WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM post WHERE id = #{id}
    </delete>

</mapper>